/* Basic Reset */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Apply basic styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
}

header {
    background-color: #111;
    color: white;
    padding: 40px 20px;
}

header h1 {
    font-family: 'Merriweather', serif;
    font-size: 3.5em;
    margin-bottom: 0.2em;
}

header .subheading {
    font-size: 1.5em;
    font-weight: 300;
}

section {
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

h2 {
    color: #111;
    font-family: 'Merriweather', serif;
    font-size: 1.8em; /* Reduced font size for section headings */
    margin-bottom: 0.8em;
}

h3 {
    color: #333;
    font-family: 'Merriweather', serif;
    font-size: 1.2em; /* Reduced font size for subheadings */
    margin: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 0.9em; /* Adjusted size for paragraph text */
    margin: 12px 0;
    line-height: 1.6;
}

footer {
    background-color: #111;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
}
